node_modules
eb
creds
bundle.js
bundle.js.map
postgresql
postgresql-test
dist
yarn.lock
*.swp
.DS_Store
*.log
.sass-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
