container_commands:
  01_database_migration:
    leader_only: true
    command: |
      docker run \
        -e RDS_HOSTNAME="$RDS_HOSTNAME" \
        -e RDS_PORT="$RDS_PORT" \
        -e RDS_USERNAME="$RDS_USERNAME" \
        -e RDS_PASSWORD="$RDS_PASSWORD" \
        -e RDS_DB_NAME="$RDS_DB_NAME" \
        aws_beanstalk/staging-app:latest ./node_modules/db-migrate/bin/db-migrate up
  02_add_admin_user:
    leader_only: true
    command: |
      docker run \
        -e RDS_HOSTNAME="$RDS_HOSTNAME" \
        -e RDS_PORT="$RDS_PORT" \
        -e RDS_USERNAME="$RDS_USERNAME" \
        -e RDS_PASSWORD="$RDS_PASSWORD" \
        -e RDS_DB_NAME="$RDS_DB_NAME" \
        -e ADMIN_EMAIL="$ADMIN_EMAIL" \
        -e ADMIN_PASSWORD="$ADMIN_PASSWORD" \
        aws_beanstalk/staging-app:latest node ./dist/backend/backend/init.js
