@import "resources/bootstrap/css/bootstrap.min.css";
body {
    padding:0px 0px 0px 0px;
    margin:0;
    background-image: url('resources/images/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body { height: 100%; }

